@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

h1 {
	text-transform: uppercase;
}

.title {
	
	font-weight:600;
	font-size: 1.3em;
	margin: 2.2em 0 1em 0;
}

.subheading {
	font-weight:700;
	font-size: 1.05em;
	margin: 1.2em 0 0.5em 0;
}

